@import url(http://fonts.googleapis.com/css?family=Satisfy);

body{background:#000;}

.lasvegas {
  font-family: 'Satisfy', cursive;
  font-size:80px;
  border: none;
  color: transparent;
  text-align: center;
  text-shadow: 
    0 0 2px rgba(255,255,255,1), 
    0 0 10px rgba(255,255,255,1), 
    0 0 20px rgba(255,255,255,1), 
    0 0 30px rgba(255,255,255,1), 
    0 0 40px #33b5e5, 
    0 0 70px #33b5e5, 
    0 0 80px #33b5e5,
    0 0 100px #33b5e5;
}


.lasvegas span{
  -webkit-animation: blink .3s infinite alternate;
  animation: blink .3s infinite alternate;
}

.lasvegas span.delay{
  -webkit-animation-duration:3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: alternate;
  animation-duration:6s;
  animation-delay: 2s;
  animation-direction: alternate;
  cubic-bezier(0.5, 0.2, 0.3, 1.0)
}

@-webkit-keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #33b5e5, 
      0 0 70px #33b5e5, 
      0 0 80px #33b5e5,
      0 0 100px #33b5e5;
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #33b5e5, 
      0 0 70px #33b5e5, 
      0 0 80px #33b5e5,
      0 0 100px #33b5e5;
  } 
}      

@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #33b5e5, 
      0 0 70px #33b5e5, 
      0 0 80px #33b5e5,
      0 0 100px #33b5e5;
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #33b5e5, 
      0 0 70px #33b5e5, 
      0 0 80px #33b5e5,
      0 0 100px #33b5e5;
  }

}