*{box-sizing:border-box}

@font-face {
  font-family: ocr-a-std;
  src: url("../fonts/a3.otf") format("opentype");
}


html{
  position:relative;
  height:100%
}

body{
  font-family:ocr-a-std;
  color:#33b5e5;
  margin:0;
  background:#000;
  background-image:url(../img/Alfr3d-UI-background.png);
  background-position: center center;
  background-repeat: no-repeat
}

canvas{
  width:auto;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  padding-left:0;
  padding-right:0;
  position:absolute;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  top:50%;left:50%;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%)
}

footer{
  position:absolute;
  text-align:center;
  color:#33b5e5;
  width:100%;
  bottom:0
}